<%= form_with model: article do |form| %>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
        <% article.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div class ="">
        <%= form.label :body %><br>
        <%= form.text_field :body %>
        <% article.errors.full_messages_for(:body).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div class = "bg-gray-300 px-2 py-2 rounded hover:bg-gray-200">
        <%= form.submit%>
    </div>




<% end %>
